html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #550a10;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
}
html h1,
body h1 {
  font-size: 36px;
}
html p,
body p {
  font-size: 16px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.h1 {
  font-size: 36px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg--gradient {
  background: transparent linear-gradient(180deg, white 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.bg--red {
  background-color: #550a10;
}

.bg--yellow {
  background-color: #fae486;
}

.fdf-p {
  padding: 48px 0;
}

.title-red {
  border-bottom: 5px solid #550a10;
  line-height: 250%;
  width: 45.5%;
  color: black;
}

.title-yellow {
  border-bottom: 5px solid #fae486;
  line-height: 250%;
  width: 100%;
  color: white;
}

.container {
  z-index: 1;
  position: relative;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.mr {
  margin-right: 32px;
}
@media (max-width: 768px) {
  .mr {
    margin: 0;
  }
}

.ml {
  margin-left: 32px;
}
@media (max-width: 768px) {
  .ml {
    margin: 0;
  }
}

.logo-github {
  position: relative;
  margin-left: 24px;
  color: white;
  text-decoration: none;
}
@media (max-width: 576px) {
  .logo-github {
    margin-left: 12px;
  }
}
.logo-github::after {
  content: "\f3ed";
  font-family: "bootstrap-icons";
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  font-size: 24px;
  align-items: center;
}

.menu-icon {
  display: none;
}
@media (max-width: 576px) {
  .menu-icon {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    align-items: center;
  }
}
.menu-icon::before {
  content: "\f479";
  font-family: "bootstrap-icons";
  display: inline-block;
  font-size: 32px;
}

.fdf-navbar {
  position: fixed;
  z-index: 99;
  width: 40%;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
  border-radius: 12px;
  box-shadow: 0 2px 9px black;
  display: block;
}
@media (max-width: 1200px) {
  .fdf-navbar {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .fdf-navbar {
    width: 65%;
  }
}
@media (max-width: 576px) {
  .fdf-navbar {
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
    top: 0;
    border-radius: 0;
    z-index: 99;
    display: none;
  }
  .fdf-navbar.active {
    display: block;
  }
}
.fdf-navbar a {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), z-index 0s;
  position: relative;
  z-index: 1;
}
.fdf-navbar a:hover {
  transform: scale(1.15) translateY(-2px);
  z-index: 10;
}
.fdf-navbar__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 24px 12px;
}
@media (max-width: 576px) {
  .fdf-navbar__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    padding: 0;
  }
  .fdf-navbar__nav a {
    padding: 0 6px;
    font-size: 24px;
  }
}
.fdf-navbar__nav .active {
  border-bottom: 3px solid #fae486;
  font-weight: bold;
}

.fdf-hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
@media (max-width: 576px) {
  .fdf-hero {
    height: 80vh;
  }
}
.fdf-hero__content-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
@media (max-width: 576px) {
  .fdf-hero__content-wrapper {
    height: 100%;
    padding-top: 132px;
  }
}
.fdf-hero__content-wrapper__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding-left: 84px;
}
@media (max-width: 1200px) {
  .fdf-hero__content-wrapper__content {
    padding-left: 36px;
  }
}
@media (max-width: 376px) {
  .fdf-hero__content-wrapper__content {
    padding-left: 24px;
  }
}
.fdf-hero__content-wrapper__content h1 {
  color: #fae486;
  line-height: 200%;
  border-bottom: 5px solid #F1E194;
  width: 60%;
  font-size: 60px;
}
@media (max-width: 1200px) {
  .fdf-hero__content-wrapper__content h1 {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .fdf-hero__content-wrapper__content h1 {
    font-size: 48px;
  }
}
.fdf-hero__content-wrapper__content h3 {
  line-height: 180%;
}
.fdf-hero__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .fdf-hero__image-wrapper {
    display: none;
  }
}
.fdf-hero__image-wrapper__image {
  position: relative;
  display: block;
  width: 66%;
  height: 80%;
}
.fdf-hero__image-wrapper__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: 2;
}
.fdf-hero__image-wrapper__image::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: #550a10;
  z-index: 1;
}

.fdf-aboutme {
  position: relative;
  width: 100%;
  height: 100vh;
}
@media (max-width: 768px) {
  .fdf-aboutme {
    padding-top: 24px;
  }
}
@media (max-width: 576px) {
  .fdf-aboutme {
    height: auto;
  }
}
.fdf-aboutme__image-wrapper {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .fdf-aboutme__image-wrapper {
    width: 96%;
  }
}
@media (max-width: 1200px) {
  .fdf-aboutme__image-wrapper.right {
    margin-top: 5%;
  }
}
@media (max-width: 768px) {
  .fdf-aboutme__image-wrapper.right {
    margin-top: 20%;
  }
}
@media (max-width: 576px) {
  .fdf-aboutme__image-wrapper.right {
    margin-top: 10%;
  }
}
@media (max-width: 376px) {
  .fdf-aboutme__image-wrapper.right {
    margin-top: 40%;
  }
}
@media (max-width: 321px) {
  .fdf-aboutme__image-wrapper.right {
    margin-top: 80%;
  }
}
.fdf-aboutme__image-wrapper__image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.fdf-aboutme__image-wrapper__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: 2;
}
.fdf-aboutme__image-wrapper__image::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: #fae486;
  z-index: 1;
}
.fdf-aboutme__content-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.fdf-aboutme__content-wrapper__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 84px;
}
@media (max-width: 1200px) {
  .fdf-aboutme__content-wrapper__content {
    padding-left: 24px;
  }
}
@media (max-width: 768px) {
  .fdf-aboutme__content-wrapper__content {
    padding-left: 36px;
  }
}
@media (max-width: 576px) {
  .fdf-aboutme__content-wrapper__content {
    padding-left: 12px;
    padding-top: 10%;
  }
}
.fdf-aboutme__content-wrapper__content h1 {
  border-bottom: 5px solid #F1E194;
  line-height: 250%;
  width: 90%;
}
@media (max-width: 768px) {
  .fdf-aboutme__content-wrapper__content h1 {
    line-height: 150%;
    padding-bottom: 24px;
    padding-top: 24px;
  }
}
.fdf-aboutme__content-wrapper__content p {
  padding-top: 24px;
  width: 90%;
  margin-bottom: 72px;
}
@media (max-width: 768px) {
  .fdf-aboutme__content-wrapper__content p {
    width: 100%;
    margin-bottom: 36px;
  }
}
.fdf-aboutme__content-wrapper__content, .fdf-aboutme__content-wrapper .left {
  margin-top: 5%;
}
@media (max-width: 768px) {
  .fdf-aboutme__content-wrapper__content, .fdf-aboutme__content-wrapper .left {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .fdf-aboutme__content-wrapper__content, .fdf-aboutme__content-wrapper .right_ {
    margin-top: 8%;
    height: 100%;
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  .fdf-aboutme__content-wrapper__content, .fdf-aboutme__content-wrapper .right_ {
    margin-top: 0;
  }
}

.fdf-skills {
  height: 55vh;
  width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .fdf-skills {
    height: auto;
  }
}
.fdf-skills__title {
  position: relative;
  width: 100%;
  height: auto;
}
.fdf-skills__title h1 {
  border-bottom: 5px solid #F1E194;
  line-height: 250%;
  width: 40%;
}
@media (max-width: 576px) {
  .fdf-skills__title h1 {
    width: 60%;
  }
}
.fdf-skills__content {
  position: relative;
  padding-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .fdf-skills__content {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 12px;
  }
}
@media (max-width: 576px) {
  .fdf-skills__content {
    height: auto;
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
    padding-bottom: 12px;
  }
}
@media (max-width: 321px) {
  .fdf-skills__content {
    height: auto;
    flex-wrap: wrap;
    justify-content: start;
    gap: 12px;
    padding-bottom: 12px;
  }
}
.fdf-skills__content__image {
  position: relative;
  width: 20vh;
  overflow: hidden;
  height: 20vh;
  border-radius: 24px;
  margin-right: 12px;
  border: 4px solid #fae486;
}
.fdf-skills__content__image img {
  position: relative;
  width: 100%;
  height: 100%;
}

.fdf-projects {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 5%;
}
@media (max-width: 768px) {
  .fdf-projects {
    height: auto;
    padding-top: 0;
  }
}
.fdf-projects .background-yellow {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: 24px;
}
@media (max-width: 768px) {
  .fdf-projects .background-yellow {
    height: 100%;
    width: 95%;
  }
}
.fdf-projects__title {
  position: relative;
  width: 50%;
  height: auto;
  margin-left: 7%;
  margin-top: 6%;
  padding-bottom: 24px;
  color: black;
  border-bottom: 5px solid #550a10;
}
@media (max-width: 768px) {
  .fdf-projects__title {
    width: 70%;
    margin-top: 12%;
    margin-left: 48px;
    padding-bottom: 12px;
  }
}
.fdf-projects__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .fdf-projects__image-wrapper {
    justify-content: start;
    padding-left: 36px;
  }
}
.fdf-projects__image-wrapper__image {
  position: relative;
  width: 80%;
  height: auto;
}
.fdf-projects__image-wrapper__image img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  display: block;
}
.fdf-projects__image-wrapper__image::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background: #550a10;
  z-index: 1;
}
@media (max-width: 768px) {
  .fdf-projects__image-wrapper__image:first-child {
    margin-bottom: 12px;
  }
}
.fdf-projects a {
  margin-top: 84px;
  margin-left: 7%;
  width: 192px;
  z-index: 5;
}
@media (max-width: 768px) {
  .fdf-projects a {
    margin-top: 48px;
  }
}
@media (max-width: 576px) {
  .fdf-projects a {
    margin-left: 48px;
  }
}

.fdf-contact {
  position: relative;
  width: 100%;
  min-height: 70vh;
}
@media (max-width: 768px) {
  .fdf-contact {
    padding-bottom: 24px;
  }
}
.fdf-contact p {
  color: white;
  font-size: 24px;
  font-weight: 300;
  padding: 24px 0;
}
@media (max-width: 768px) {
  .fdf-contact p {
    padding: 12px 0;
  }
}
.fdf-contact form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 720px;
}
.fdf-contact input,
.fdf-contact textarea {
  width: 100%;
  background: #d9d9d9;
  border: none;
  outline: none;
  padding: 18px 24px;
  font-size: 16px;
  font-weight: 300;
  color: #666;
  font-family: inherit;
}
.fdf-contact input::placeholder,
.fdf-contact textarea::placeholder {
  color: #6d6d6d;
}
@media (max-width: 768px) {
  .fdf-contact input,
  .fdf-contact textarea {
    padding: 12px;
  }
}
.fdf-contact input {
  height: 50px;
}
.fdf-contact textarea {
  min-height: 240px;
  resize: none;
}
.fdf-contact button {
  width: 20%;
}
@media (max-width: 768px) {
  .fdf-contact button {
    width: 120px;
  }
}

.fdf-btn {
  display: inline-flex;
  align-items: center;
  padding: 18px 24px;
  text-decoration: none;
  border-radius: 10px;
  width: fit-content;
  color: black;
}
.fdf-btn::after {
  content: "\f138";
  font-family: "bootstrap-icons";
  padding-left: 12px;
}
.fdf-btn__yellow {
  background-color: #fae486;
}
.fdf-btn__yellow:hover {
  background-color: #F6D353;
}
.fdf-btn__red {
  background-color: #550a10;
  color: white;
}
.fdf-btn__red:hover {
  background-color: #8C1822;
}

.fdf-screen-slider {
  height: 100vh;
  width: 100%;
}
@media (max-width: 576px) {
  .fdf-screen-slider {
    height: auto;
    padding-top: 0;
  }
}
.fdf-screen-slider__title {
  padding-left: 80px;
  width: 100%;
}
.fdf-screen-slider__slide {
  width: 100%;
  overflow: hidden;
  margin-top: 7%;
  padding: 0 2vw;
}
.fdf-screen-slider__slide__image {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  min-height: 500px;
}
.fdf-screen-slider__slide__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  border-radius: 12px;
}
.fdf-screen-slider__slide__content {
  width: 80%;
  margin: 0;
  padding: 12px 0 0 24px;
}
.fdf-screen-slider__slide__content h1 {
  padding-bottom: 24px;
}
@media (max-width: 576px) {
  .fdf-screen-slider__slide__content h1 {
    padding-top: 36px;
  }
}
@media (max-width: 376px) {
  .fdf-screen-slider__slide__content h1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 321px) {
  .fdf-screen-slider__slide__content h1 {
    padding-top: 12px;
  }
}
@media (max-width: 1200px) {
  .fdf-screen-slider__slide__content {
    width: 85%;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .fdf-screen-slider__slide__content {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .fdf-screen-slider__slide__content {
    padding-bottom: 48px;
  }
}

.slick-prev {
  z-index: 1;
  background: #fae486;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #550a10;
  font-size: 18px;
  border: none;
  position: absolute;
  right: 37%;
  bottom: 2%;
}
@media (max-width: 768px) {
  .slick-prev {
    right: 35%;
  }
}
@media (max-width: 576px) {
  .slick-prev {
    bottom: 12px;
    left: 12px;
  }
}

.slick-next {
  z-index: 1;
  background: #fae486;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #550a10;
  font-size: 18px;
  border: none;
  position: absolute;
  right: 33%;
  bottom: 2%;
}
@media (max-width: 1200px) {
  .slick-next {
    right: 32%;
  }
}
@media (max-width: 768px) {
  .slick-next {
    right: 29%;
  }
}
@media (max-width: 576px) {
  .slick-next {
    bottom: 12px;
    left: 60px;
  }
}

.slick-prev::before {
  display: none;
}

.slick-next::before {
  display: none;
}

.slick-prev:hover,
.slick-next:hover {
  background: #F6D353;
}

.theme-screen-slider__wrapper {
  position: relative;
}

.footer {
  position: relative;
  height: 15vh;
  width: 100%;
  text-align: center;
}
.footer p {
  position: relative;
  padding-top: 48px;
  color: black;
  font-size: 18px;
}
@media (max-width: 576px) {
  .footer p {
    padding-top: 24px;
  }
}
.footer p::after {
  content: "\f327";
  font-family: "bootstrap-icons";
  position: absolute;
  color: #550a10;
  font-size: 18px;
  padding-left: 6px;
}

/*# sourceMappingURL=style.css.map */
